/* make the customizations */

$input-bg: rgb(247, 245, 245) !important;
$input-focus-bg: white !important;
$form-label-font-weight: normal !important;
@import "../node_modules/bootstrap/scss/bootstrap";
